<site-header></site-header>

<div id="site-content">
    <div class="col-md-3 col-lg-2 hide-xs show-md" id="search-sidebar">
        <div id="filters">
            <h1>Filtros</h1>
            <ul id="filter-list">
                <li class="filter-category active">
                    <div class="filter-category-name">Por categoría</div>
                    <ul class="filter-category-list">
                        <li class="active">Todos</li>
                        <li>Limpieza</li>
                        <li>Pintura</li>
                        <li>Herramientas</li>
                        <li>Decoración</li>
                        <li>Electricidad</li>
                        <li>Plomería</li>
                        <li>Calefacción</li>
                        <li>Jardinería</li>
                        <li>Construcción</li>
                        <li>Automóviles</li>
                        <li>Exteriores</li>
                        <li>Iluminación</li>
                    </ul>
                </li>
                <li class="filter-category">
                    <div class="filter-category-name">Por precio</div>
                </li>
                <li class="filter-category">
                    <div class="filter-category-name">Por relevancia</div>
                </li>
            </ul>
        </div>
        <div id="sidebar-ads">
            <div class="sidebar-ad"><img alt="Ad" src="{{_E_.BASE_URL}}assets/images/icons/picture.png"></div>
            <div class="sidebar-ad"><img alt="Ad" src="{{_E_.BASE_URL}}assets/images/icons/picture.png"></div>
        </div>
    </div>

    <div class="col-xs-12 col-md-9 col-lg-10" id="search-results">

        <div id="results-container">
            <div id="results">
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-xl-2 result">
                    <div class="result-image">
                        <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                        <div class="result-hover">
                            <div class="result-hover-buttons">
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></button>
                                <button class="result-hover-button"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="result-price">
                        $100.00
                    </div>
                    <div class="result-name">
                        Lorem ipsum dolor
                    </div>
                    <div class="result-description">
                        Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                    </div>
                </div>
            </div>
            <div class="col-xs-12" id="pagination">
                <a href="">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/doubleArrowL.png">
                </a>
                <a href="">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/arrowL.png">
                </a>
                <a class="active" href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/arrowR.png">
                </a>
                <a href="">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/doubleArrowR.png">
                </a>
            </div>
        </div>

        <div id="related-title">Artículos Relacionados</div>
        <div id="related-results">
            <div class="col-xs-12 col-lg-4 related-result">
                <div class="related-result-image">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                </div>
                <div class="related-result-price">
                    $100.00
                </div>
                <div class="related-result-name">
                    Lorem ipsum dolor
                </div>
                <div class="related-result-description">
                    Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 related-result">
                <div class="related-result-image">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                </div>
                <div class="related-result-price">
                    $100.00
                </div>
                <div class="related-result-name">
                    Lorem ipsum dolor
                </div>
                <div class="related-result-description">
                    Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 related-result">
                <div class="related-result-image">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
                </div>
                <div class="related-result-price">
                    $100.00
                </div>
                <div class="related-result-name">
                    Lorem ipsum dolor
                </div>
                <div class="related-result-description">
                    Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
                </div>
            </div>
        </div>

    </div>
</div>

<site-slim-footer></site-slim-footer>