/* Fonts declaration */
@font-face {
    font-family: Varela;
    src: url(assets/fonts/Varela-Regular.woff);
}
@font-face {
    font-family: PTSans;
    src: url(assets/fonts/PTSans_Regular.woff);
}
@font-face {
    font-family: Hind;
    src: url(assets/fonts/Hind-Regular.woff);
}
@font-face {
    font-family: Yantramanav;
    src: url(assets/fonts/Yantramanav-Light.woff);
}
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Medium.woff);
}

/* General styles */
html {
  font-family: Hind;
}
html, body, app-root {
  width: 100%;
  height: auto;
  min-height: 100%;
}
body, app-root, app-root > div {
  margin: 0;
  padding: 0;
  position: relative;
}
app-root, app-root > div {
  display: block;
}
app-root > div {
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

/* Partial styles */
