<div class="site-footer">
  <div id="footer-content">
    <div id="footer-links">
      <ul>
        <li><a href="">Acerca de {{title}}</a></li>
        <li><a href="">Anunciate con nosotros</a></li>
        <li><a href="">Aviso de privacidad</a></li>
        <li><a href="">Legales</a></li>
      </ul>
    </div>
    <div id="footer-brand">
      <div id="footer-logo"><img src="{{footerLogo}}"></div>
      <div id="footer-rights">©2017-2018 <a href="">{{title}}</a> Todos los derechos reservados</div>
    </div>
    <div id="footer-powered">
      <img src="assets/img/ducklogo.png">
    </div>
  </div>
</div>