<div class="site-body">
  <section align="left" class="firstBlock">

    <div class="adCarousel adv01 w100 h10" id="ad01">
      <button class="left"></button>
      <button class="right"></button>
      <div class="adContent">
        <div class="article-loader"></div>
      </div>
    </div>

    <div class="w100 h90 padding-t-b">

      <div class="w70 h100 padding-r-b">
        <div class="w100 h45">
          <div class="carousel owl-carousel article-loader">

            <a class="carousel-item" href=""></a>
            <a class="carousel-item" href=""></a>
            <a class="carousel-item" href=""></a>
            <a class="carousel-item" href=""></a>
            <a class="carousel-item" href=""></a>

          </div>
        </div>

        <div class="w100 h55 padding-t">
          <div class="w100 h100">
            <div class="w50 h70-a padding-r-b">
              <article class="exc02-0" data-article-type="02">
                <div class="article-loader"></div>
              </article>
            </div>
            <div class="w50 h35 padding-b">
              <article data-article-type="03">
                <div class="article-loader"></div>
              </article>
            </div>
            <div class="w50 h35 padding-b">
              <article data-article-type="03">
                <div class="article-loader"></div>
              </article>
            </div>
            <div class="w100 h30-a adTogether">
              <div class="w50 h100 padding-r">
                <div class="adCarousel adv02 w100 h100" id="ad02">
                  <button class="left"></button>
                  <div class="adContent">
                    <div class="article-loader"></div>
                  </div>
                </div>
              </div>
              <div class="w50 h100">
                <div class="adCarousel adv02 w100 h100" id="ad06">
                  <button class="right"></button>
                  <div class="adContent">
                    <div class="article-loader"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="w30 h100">
        <div class="w100 h100 padding-b">
          <div class="w100 h100 bs border-top no-margin no-padding" id="mostRelated">
            <div style="position: relative;">
              <div class="w100 h10 t002" id="morePopular">M&aacute;s Populares</div>
            </div>
            <div class="w100 h90 relatedContent">
              <ul id="related">
                <li class="article-loader"></li>
              </ul>
              <nav>
                <a href="populares.html">Ver m&aacute;s</a>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="secondBlock" align="left">
    <div class="bs w100 h100" id="videoContainer">
      <div class="t001" style="padding-left: 6.5%;">
        <div style="position: absolute; left: 0px; top: 23%;">
          <img src="assets/img/youtube.jpg" width="50%" />
        </div>
        Videos
        <a href="videos.html" class="t002">M&aacute;s videos</a>
      </div>
      <div class="w65 h5" id="video_description"></div>
      <div class="w60 h80 no-margintop" id="videoPlayerContainer">
        <iframe id="ytplayer" name="ytplayer" type="text/html" src="" frameborder="0"></iframe>
      </div>
      <div class="w40 h80 no-margin" id="videoListContainer">
        <ul id="videoList">
          <li>
            <div class="article-loader"></div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="thirdBlock" align="left">
    <div class="w100 h70 padding-t">
      <div class="w75 h100">
        <div class="w50 h70">
          <div class="w100 h50 padding-r-b">
            <article data-article-type="03">
              <div class="article-loader"></div>
            </article>
          </div>
          <div class="w100 h50 padding-r-b">
            <article data-article-type="03">
              <div class="article-loader"></div>
            </article>
          </div>
        </div>
        <div class="w50 h70">
          <div class="w100 h100 padding-r-b">
            <article class="exc02-1" data-article-type="02">
              <div class="article-loader"></div>
            </article>
          </div>
        </div>
        <div class="w100 h30 padding-r-b">
          <article data-article-type="05" id="art01">
            <div class="article-loader"></div>
          </article>
        </div>
      </div>
      <div class="w25 h100">
        <div class="adCarousel adv03 w100 h75 padding-b" id="ad03">
          <button class="left"></button>
          <button class="right"></button>
          <div class="adContent">
            <div class="article-loader"></div>
          </div>
        </div>
        <div class="w100 h25 padding-b">
          <article data-article-type="02" class="no-description exc03" id="art02">
            <div class="article-loader"></div>
          </article>
        </div>
      </div>
    </div>

    <div class="w100 h30">
      <div class="w30 h100 padding-r-b">
        <div class="adCarousel adv02 w100 h100" id="ad04">
          <button class="left"></button>
          <button class="right"></button>
          <div class="adContent">
            <div class="article-loader"></div>
          </div>
        </div>
      </div>
      <div class="w35 h100">
        <div class="w100 h50 padding-r-b">
          <article data-article-type="06" class="no-description">
            <div class="article-loader"></div>
          </article>
        </div>
        <div class="w100 h50 padding-r-b">
          <article data-article-type="06" class="no-description">
            <div class="article-loader"></div>
          </article>
        </div>
      </div>
      <div class="w35 h100">
        <div class="w100 h100 padding-b">
          <article data-article-type="07">
            <div class="article-loader"></div>
          </article>
        </div>
      </div>
    </div>

  </section>

  <section class="btn-bar" align="left">
    <a class="btn" href="historico.html">Ver m&aacute;s art&iacute;culos</a>
  </section>
</div>