.vive {
  background: transparent no-repeat center top url('../assets/img/fondo_vive.jpg');
}
.inside {
  background: transparent no-repeat center top url('../assets/img/fondo_satelite.jpg');
}
.queretaro {
  background: transparent no-repeat center top url('../assets/img/fondo_queretaro.jpg');
}

site-header, site-body, site-footer {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.vive site-footer {
  background-color: rgb(210, 30, 103);
}
.inside site-footer {
  background-color: rgb(68, 26, 70);
}