<footer>
    <div id="footer-logo">
        <img src="assets/images/icons/LogoFooter.png">
    </div>
    <div id="footer-links">
        <div id="footer-links-socialnet">
            <a href="https://www.facebook.com">
                <img src="assets/images/icons/facebook.png">
            </a>
            <a href="https://twitter.com">
                <img src="assets/images/icons/twitter.png">
            </a>
            <a href="https://plus.google.com">
                <img src="assets/images/icons/google+.png">
            </a>
            <a href="https://www.rss.nom.es">
                <img src="assets/images/icons/rss.png">
            </a>
        </div>
        <div id="footer-links-site">
            <a href="https://www.rss.com">Términos y Condiciones</a>
            <a href="https://www.rss.com">Política de Privacidad</a>
            <a href="https://www.rss.com">Acerca de HaSto</a>

            <div id="footer-copyright">
                Copyright © 2017 <a class="inline-block" href="mailto:erik12.ixec@gmail.com">Erik Martínez</a>
            </div>
        </div>
    </div>
    <div id="footer-info">
        <div id="footer-info-title">
            Contacto
        </div>
        <div id="footer-info-email">
            Tel. (044) - 5591640676
        </div>
        <div id="footer-info-phone">
            <a href="mailto:erik12.ixec@gmail.com">erik12.ixec@gmail.com</a>
        </div>
        <div id="footer-info-address">
            Dirección: 123 6th St.<br>
            Melbourne, FL 32904
        </div>
    </div>
</footer>