#site-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
#breadcrumb {
    padding: 10px 30px;
    width: 100%;
    height: auto;
    font-size: 1.5em;
}
#content-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
#content {
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: auto;
}
#product-image-container {
    border: 1px solid #CCC;
}
#product-image {
    width: 100%;
}
#product-options {
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    text-align: center;
}
#product-options {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    text-align: center;
}
.product-option {
    float: left;
    margin: 10px 0;
    width: 50%;
    height: 40px;
}
.product-option-image {
    float: left;
    width: 40px;
    height: 100%;
}
.product-option-image img {
    width: 40px;
    height: 40px;
}
.product-option-text  {
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    width: calc(100% - 40px);
    height: 100%;
    font-family: Roboto;
    font-size: 1.2em;
}

#content-right {
    box-sizing: border-box;
    padding: 5px 15px;
}
#product-name {
    font-size: 3.5em;
}
#product-rating {
    box-sizing: border-box;
    padding: 10px 0;
}
#rating-text {
    margin-left: 10px;
}
#product-price {
    margin-top: 20px;
    font-size: 3em;
    text-align: right;
}
#product-quantity {
    margin-bottom: 20px;
    font-size: 1.3em;
    text-align: right;
}
#product-description {
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    height: 140px;
}
#product-description:before {
    background-image: -webkit-linear-gradient(transparent, rgb(255, 255, 255) 98%);
    background-image: -moz-linear-gradient(transparent, rgb(255, 255, 255) 98%);
    background-image: -o-linear-gradient(transparent, rgb(255, 255, 255) 98%);
    background-image: linear-gradient(transparent, rgb(255, 255, 255) 98%);
    content: " ";
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
#product-description:after {
    background: transparent no-repeat bottom center url(../../../assets/images/icons/arrowB.png);
    background-size: 16px;
    content: " ";
    display: block;
    left: 0;
    bottom: -5px;
    position: absolute;
    width: 100%;
    height: 50px;
}
#product-description-title {
    font-size: 2em;
}
#product-description-text {
    margin-left: 30px;
    padding: 10px 0;
    font-size: 1.3em;
}
#product-sell-miniform {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
#sell-miniform {
    float: right;
    margin: 40px 0;
    width: 300px;
    height: 40px;
}
#sell-miniform > div {
    box-sizing: border-box;
    float: left;
}
#sell-miniform-label {
    width: 100px;
    height: 40px;
}
#sell-miniform-input {
    width: 100px;
    height: 40px;
}
#sell-miniform-input input {
    box-sizing: border-box;
    padding: 0 10px;
    width: 80px;
    height: 40px;
    font-size: 1.2em;
    text-align: right;
}
#sell-miniform-button {
    width: 100px;
    height: 40px;
}
#sell-miniform-button button {
    background-color: #EE7B45;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: 1.2em;
}

#related-title {
    margin: 10px 5%;
    width: 90%;
    height: auto;
    font-family: RobotoBold;
    font-size: 1.5em;
}
#related-results {
    border: 1px solid #CCC;
    box-sizing: border-box;
    margin: 10px 5%;
    overflow: hidden;
    width: 90%;
    height: auto;
}
.related-result {
    float: left;
    height: 180px;
}
.related-result-image {
    display: block;
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
}
.related-result-image:before {
    content: " ";
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align: middle;
}
.related-result-image img {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
.related-result-price {
    float: left;
    margin-top: 10%;
    width: 60%;
    font-family: RobotoBold;
}
.related-result-name {
    float: left;
    width: 60%;
    font-family: RobotoBold;
}
.related-result-description {
    float: left;
    width: 60%;
}

@media screen and (max-width: 750px) {
    .related-result {
        float: initial;
    }
}