<site-header></site-header>

<div id="site-content">
    <div id="breadcrumb">
       &lt; Volver a la Página Principal
    </div>

    <div id="content-box">
        <div id="content">
            <div class="col-md-6" id="content-left">
                <div id="product-image-container">
                    <img id="product-image" src="{{_E_.BASE_URL}}assets/images/products/{{productId}}.jpg">
                </div>
                <div id="product-options">
                    <div class="col-xs-4 product-option">
                        <div class="product-option-image"><img src="{{_E_.BASE_URL}}assets/images/icons/shoppingCart.png"></div>
                        <div class="product-option-text">Añadir al carrito de compras</div>
                    </div>
                    <div class="col-xs-4 product-option">
                        <div class="product-option-image"><img src="{{_E_.BASE_URL}}assets/images/icons/heart.png"></div>
                        <div class="product-option-text">Agregar a favoritos</div>
                    </div>
                    <div class="col-xs-4 product-option">
                        <div class="product-option-image"><img src="{{_E_.BASE_URL}}assets/images/icons/share.png"></div>
                        <div class="product-option-text">Compartir artículo</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="content-right">
                <div id="product-name">
                    Juego de Clavos Kalenji
                </div>
                <div id="product-rating">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/yellowStar.png">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/yellowStar.png">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/blackStar.png">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/blackStar.png">
                    <img src="{{_E_.BASE_URL}}assets/images/icons/blackStar.png">
                    <span id="rating-text">x2 Estrellas</span>
                </div>
                <div id="product-price">
                    $5.00 MXN
                </div>
                <div id="product-quantity">
                    <span class="bold">Cantidad de Artículos</span>: 5
                </div>
                <div id="product-description">
                    <div id="product-description-title">Descripción</div>
                    <div id="product-description-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Praesent hendrerit a dolor vitae pulvinar. Proin sagittis
                        auctor odio, sit amet vulputate risus hendrerit nec.
                        Integer convallis tempor lorem non aliquet. Fusce malesuada
                        sollicitudin justo, eu suscipit elit lacinia quis.
                        Curabitur vulputate in sapien id elementum. Morbi varius
                        arcu eu lobortis sagittis.
                    </div>
                </div>
                <div id="product-sell-miniform">
                    <div id="sell-miniform">
                        <div id="sell-miniform-label">
                            Cantidad de Artículos:
                        </div>
                        <div id="sell-miniform-input">
                            <input type="text" placeholder="0">
                        </div>
                        <div id="sell-miniform-button">
                            <button>Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="related-title">Artículos Relacionados</div>
    <div id="related-results">
        <div class="col-xs-12 col-md-4 related-result">
            <div class="related-result-image">
                <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
            </div>
            <div class="related-result-price">
                $100.00
            </div>
            <div class="related-result-name">
                Lorem ipsum dolor
            </div>
            <div class="related-result-description">
                Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
            </div>
        </div>
        <div class="col-xs-12 col-md-4 related-result">
            <div class="related-result-image">
                <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
            </div>
            <div class="related-result-price">
                $100.00
            </div>
            <div class="related-result-name">
                Lorem ipsum dolor
            </div>
            <div class="related-result-description">
                Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
            </div>
        </div>
        <div class="col-xs-12 col-md-4 related-result">
            <div class="related-result-image">
                <img src="{{_E_.BASE_URL}}assets/images/icons/picture.png">
            </div>
            <div class="related-result-price">
                $100.00
            </div>
            <div class="related-result-name">
                Lorem ipsum dolor
            </div>
            <div class="related-result-description">
                Lorem ipsum dolor sit amet, consectetur adisciping elit, sed do
            </div>
        </div>
    </div>

</div>

<site-slim-footer></site-slim-footer>